/* Reset margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    font-family: "Oswald", sans-serif;
}

#clouds {
    position: fixed;
    top: 400px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

/* Time to finalize the cloud shape */
.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

/* Time to animate */
.x1 {
    top: 10%;
    -webkit-animation: moveclouds 90s linear infinite;
    -moz-animation: moveclouds 90s linear infinite;
    -o-animation: moveclouds 90s linear infinite;
}

/* Variable speed, opacity, and position of clouds for realistic effect */
.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /* Opacity proportional to the size */
    /* Speed will also be proportional to the size and opacity */
    /* More the speed. Less the time in 's' = seconds */
    -webkit-animation: moveclouds 50s linear infinite;
    -moz-animation: moveclouds 50s linear infinite;
    -o-animation: moveclouds 50s linear infinite;
}

.x3 {
    left: -250px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /* Opacity proportional to the size */
    -webkit-animation: moveclouds 70s linear infinite;
    -moz-animation: moveclouds 70s linear infinite;
    -o-animation: moveclouds 70s linear infinite;
}

.x4 {
    left: 470px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /* Opacity proportional to the size */
    -webkit-animation: moveclouds 60s linear infinite;
    -moz-animation: moveclouds 60s linear infinite;
    -o-animation: moveclouds 60s linear infinite;
}

.x5 {
    left: -150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /* Opacity proportional to the size */
    -webkit-animation: moveclouds 70s linear infinite;
    -moz-animation: moveclouds 70s linear infinite;
    -o-animation: moveclouds 70s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }

    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }

    100% {
        margin-left: -1000px;
    }
}

.header-container {
    display: flex;
    margin: 15px;
    padding-left: 20px;
    margin-bottom: 70px;
}

 .header-container h1{
    font-family: "Oswald", sans-serif;
    font-size: 70px;
 }

.searched-weather-container {
    margin-top: 6px;
    padding: 6px;
    color: black;
    
}

.forecast-container {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 6px;
    padding: 6px;
    opacity: 100%;
}

.form-label {
    font-weight: bold;
}

.btn {
    margin-left: 20px;
    font-weight: bold;
}

#city-weather-data {
    display: flex;
}

.searched-weather-data {
    padding: 10px;
}

.five-day-forecast {
    margin-top: 6px;
    padding: 6px;
}

.card-header {

    background: none;
}

/* For the JS cards */
.card {
    display: flex;
    align-items: center;
    padding: 10px;
    background: none;
   
}
li{
    list-style-type: none;
    padding-bottom: 10px;
}
/* Save city button JS*/
.save-city{
    padding-left: 10px;
    background: none;
    color: black;
}

/* Delete city button JS*/
button{
    margin-left: 10px;
    padding: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: none;
    border-radius: 5px;
  

}

/* Footer */
footer{
    background: none;
}

/* End */